@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins';
}

body{
    background-color: #e6e2e2;
}


header{
    padding: 50px;
    text-align: center;
    background-color: #550a0a;
    color: #fff;
    width: 100%;
}

footer{
    background-color: #550a0a;
    margin-top: 350px;
    padding: 50px;
    text-align: center;
    color: #fff;
    width: 100%;
}

.content{
    display: flex;
    margin-top: 50px;
}

iframe{
    padding: 20px;
    width: 5800px;
    height: 400px;
}

.mision{
    text-align: center;
    background-color: #550a0a;
    padding: 22px;
    border-radius: 10px;
    color: #fff;
}

.vision{
    text-align: center;
    background-color: #550a0a;
    padding: 22px;
    border-radius: 10px;
    color: #fff;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.imagenes{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.imagen{
    margin-left: 30px;
    background-color: #550a0a;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.redes_sociales {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    margin-left: 648px;
    margin-top: 20px;
}
.redes_sociales i{
   font-size: 30px;
   padding-left: 40px;
}

.redes_sociales a{
    color: #fff;
}

.redes_sociales a:hover{
    color: #ccc;
    transition: 0.5s ease;
}